body{
    font-family: 'PT Serif', serif;
    margin: 0 ;
}
h1{
    font-size: 50px;
}
.Highlight{
    color: darkgoldenrod;
}
.half-width{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
section{
    height: 500px;
    padding-bottom: 400px;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}
img{
    width:  100%;
    
}
.fb-button{
    text-decoration: none;
    padding: 15px 20px;
    color: wheat;
    
    border-radius: 10px ;
    background-image: linear-gradient(45deg, darkgray,blue);
}
.bal{
    background-image: url(images/ee.png);
    background-position: left;
    background-repeat: no-repeat;
}
.Kp{
    background-image: url(images/dream.png);
    background-position:  right;
    background-repeat: no-repeat;}
.no{
    background-image: url(images/ee.png);
    background-position: left;
    background-repeat: no-repeat;
} 
.h2{
    size: 40px;
}
.man{
    box-shadow: 10px 10px 40px grey;
    border-radius: 10px;
    height: 70%;
}#chu{
    border-left: 7% solid;
    border-image:linear-gradient (lightSalmon, tomato );
    border-image-slice: 1;
}